
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
    background: linear-gradient(to top left, rgb(5, 42, 86), rgb(99, 127, 161), rgb(213, 230, 252));
    display: flex;
    flex-direction: row;    
    overflow-y: scroll;

}
.container-secondary{
    height: 100vh;
    overflow-y: scroll;
}
.container-main {
    width: 30%;
    color: white;
    background-color: rgb(5, 42, 86);
    background-size: cover;
}
.container-secondary, .width70 {
    width: 70%;
}
.width100 {
    width: 100%;
}

.flexColumnCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexColumnMarginleft {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    
}

div button#menu{
    margin: 5px;
    width: 30px;
    height: 30px;
    border: none;
}

.menu-desplegado {
    background: url('../images/menuB.png');
    background-size: cover;
}

.menu-oculto {
    background: url('../images/menuA.png');
    background-size: cover;
}



.navegador{
    margin-top: 10%;
    background-color: rgb(5, 42, 86);
    color: white;
    width: 100%;
    height: 100%;
}



h1 {
    font-family: 'Nunito Sans';
    font-weight: bold;
    text-align: center;
}

img.logos {
    padding: 5px;
    width: 283px;
    height: 222px;
}

img.iconos {
    padding: 5px;
    width: 20px;
    height: auto;
}

.image-user {
    width: 150px;
    height: 150px;
    background: url("../images/usuario.png");
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
}

#option-menu {
    list-style: none;
    padding: 0;
    margin: 0;

}

#option-menu li {
    width: auto;
    padding-top: 15px;
    margin: 0;

}

#option-menu li,
button {
    cursor: pointer;
}

#option-menu li:hover, .noticia  {
    border-bottom: 3px solid rgb(9, 85, 175);
}

button.subrayado {
    font-family: 'Nunito';
    text-decoration: underline;
    color: white;
    border: none;
    background: none;


}


button.botonVisual {
    width: 80%;
    border: none;
    padding: 1%;
    border-radius: 15px;
    color: white;
    background-color: rgb(109, 165, 233);
}

#btn-cerrarSesion {
    background: url('../images/cerrar-sesion.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
}

button#btn-sesion,
button#btn-home,
button#btn-cerrarSesion {
    position: absolute;
    bottom: 0;
}



.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-left: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 80%;
    border-radius: 0.375rem;
    border: none;
    outline: 0;
    background-color: white;
    padding: 0.75rem 1rem;
    color: black;
}
.bordeRojo{
    border:1px solid red !important;
}
.input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.espaciado{    
    margin: 5px;
}
.backgroundEscuelaImg {
    height: 100vh;
    background: url("../images/escuela.jpeg");
    background-size: cover;
    opacity: .5;
}

.desaparecer {
    display: none;
}

#btnFlotante {
    position: absolute;
    z-index: 5;
}

.busqueda{
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 10px;
    display: flex;
  align-items: center;
}
.lupa {
    
    width: 25px;
    height: 25px;
}

input#buscador {
    border: none;
    border-radius: 10px;
    width: 85px;
    height: 25px;
    
    margin-right: 5px;

}

.titulo-noticia {
    color: rgb(5, 42, 86);
    margin-bottom: 1rem;


}

.contenedor-noticia {
    top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1erm;
    text-align: center;
    margin-top: 10px;

}

.imagen-noticia {
    width: 150px;
    height: 150px;
    border-radius: 5px;

    margin: 10px;

}

#fechaPublicacion, .colorAzul {
    color: rgb(5, 42, 86) !important;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.margenleft{
    margin-left: 15%;
}
.margentop{
    margin-top: 10%;
}
.margenCentrado{
    margin: 15%;
}
.textoCentrado{
    text-align: center;
}
#recuPassword{
    color: #FFC66B;

}
#detalle-logo img.logos{
    margin: 5px;
    width: 70px;
    height: 50px;
    border: none;
}
#detalle-logo{
    color: white;
    font-family: "Nunito Sans";
    font-weight: bold;
}
